.charPage {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.toLancePage {
  display: inline-block;
  display: none;
  width: 100px;
  margin: 0 auto;
  color: blue;
}
.mrEd {
  background-image: url(assets/MrEd.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: -23%;
}
div.mrEd:hover {
  transform: translateX(50%);
  cursor: pointer;
}
.penelope {
  background-image: url(assets/Hector.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: -15% 0% -7% 103%;
}
div.penelope:hover {
  transform: translateX(-67%);
  cursor: pointer;
}
.hector {
  background-image: url(assets/thunder-pegasus.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: 38%;
  margin-top: 14%;
}
div.hector:hover {
  transform: translateY(-65%);
  cursor: pointer;
}
input {
  margin-left: 4%;
  margin-top: 5%;
  border: 3px solid black;
}
button {
  border: 3px solid black;
  cursor: pointer;
}
