.charPage {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.mrEd {
  background-image: url(assets/MrEd.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: -10%;
}
div.mrEd:hover {
  transform: translateX(50%);
}
.penelope {
  background-image: url(assets/Hector.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: -15% 0% -7% 93%;
}
div.penelope:hover {
  transform: translateX(-67%);

}
.hector {
  background-image: url(assets/thunder-pegasus.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: 38%;
  margin-top: 11%;
}
div.hector:hover {
  transform: translateY(-65%);
}
input {
  margin-left: 33%;
  margin-top: 2%;
  border: 3px solid black;
}
button {
  border: 3px solid black;
}
