.trashTalk {
  width: 90%;
  margin: 0 auto;
  h3 {
    font-size: 2em;
    text-align: center;
  }
  input {
    display: block;
    margin: 0 auto;
    width: 90%
  }
  button {
    display: block;
    margin: 5px auto;
    width: 200px;
    text-align: center;
  }
  img {
    width: 100px;
    height: 100px;
    position: relative;
  }
  .heath {
    top: 23px;
    transform: scaleX(-1);
  }
  .zombie {
    left: -90px;
    top: 9px;
    transform: scaleX(-1);
  }
  .dmx {
    left: 618px;
    bottom: 79px;
  }
  .ed {
    bottom: 118px;
    left: 500px;
    transform: scaleX(-1);
  }
}
