* {
  font-family: 'Rock Salt', cursive; }

.title {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

#newGame {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  border: none;
  border: 3px solid black;
  outline: none;
  background: transparent; }

.game-window {
  width: 70%;
  margin: 20px auto;
  height: 500px;
  background: lightslategray;
  border: 10px solid black;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.titleInWindow {
  width: 50%;
  margin: 0 auto;
  margin-top: 600px;
  text-align: center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out; }
  .titleInWindow img {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    width: 70%;
    margin-left: 3%;
    margin-top: 2%; }
  .titleInWindow h5 {
    margin: 0 auto;
    cursor: pointer; }
    .titleInWindow h5:hover {
      font-size: 1.2em;
      color: #FFF; }
  .titleInWindow h2 {
    margin-top: 0%;
    margin-bottom: 0%; }

.charPage {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.toLancePage {
  display: inline-block;
  display: none;
  width: 100px;
  margin: 0 auto; }

span.toLancePage {
  margin-left: 0%; }

span.toLancePage:hover {
  font-size: 1em;
  cursor: pointer;
  color: #FFF; }

.mrEd {
  background-image: url(assets/MrEd.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: -23%; }

div.mrEd:hover {
  transform: translateX(50%);
  cursor: pointer; }

p.horseMrEd {
  margin-left: 48%;
  color: #FFF; }

.penelope {
  background-image: url(assets/Hector.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: -15% 0% -7% 103%; }

div.penelope:hover {
  transform: translateX(-67%);
  cursor: pointer; }

p.horsePenelope {
  margin-left: 48%;
  margin-left: -68%;
  color: #FFF; }

.hector {
  background-image: url(assets/thunder-pegasus.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: 38%;
  margin-top: 6%; }

div.hector:hover {
  transform: translateY(-65%);
  cursor: pointer; }

p.horseHector {
  margin-left: -74%;
  margin-bottom: 0%;
  margin-top: 0%;
  color: #FFF; }

input {
  margin-left: 4%;
  margin-top: 5%;
  border: 3px solid black; }

button {
  border: 3px solid black;
  cursor: pointer; }

.clickOnHorse {
  margin-top: 2%;
  margin-bottom: 0%; }

.selected.mrEd {
  transform: translateX(50%); }

.selected.hector {
  transform: translateY(-65%); }

.selected.penelope {
  transform: translateX(-67%); }

.trashTalk {
  width: 90%;
  margin: 0 auto; }
  .trashTalk h3 {
    font-size: 2em;
    text-align: center; }
  .trashTalk input {
    display: block;
    margin: 0 auto;
    width: 90%; }
  .trashTalk button {
    display: block;
    margin: 5px auto;
    width: 200px;
    text-align: center; }

h3, p {
  text-align: center;
  margin: 0 auto; }

a {
  color: #FFF; }

img {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%; }

span.toFightPage {
  text-align: center;
  margin-left: 40%; }

span.toFightPage:hover {
  font-size: 1.2em;
  cursor: pointer;
  color: #FFF; }

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg); }
  50% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(10deg); } }

@keyframes swinging {
  0% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(10deg); } }

.swingimage {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite; }
