* {
  font-family: 'Rock Salt', cursive; }

.title {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

#newGame {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  border: none;
  border: 3px solid black;
  outline: none;
  background: transparent; }

.game-window {
  width: 70%;
  margin: 20px auto;
  height: 500px;
  background: lightslategray;
  border: 10px solid black;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.titleInWindow {
  width: 50%;
  margin: 0 auto;
  margin-top: 600px;
  text-align: center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out; }
  .titleInWindow img {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid black; }
  .titleInWindow h5 {
    margin: 0 auto;
    cursor: pointer; }
    .titleInWindow h5:hover {
      font-size: 1.2em; }

.charPage {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.toLancePage {
  display: inline-block;
  display: none;
  width: 100px;
  margin: 0 auto;
  color: blue; }

.mrEd {
  background-image: url(assets/MrEd.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: -23%; }

div.mrEd:hover {
  transform: translateX(50%);
  cursor: pointer; }

.penelope {
  background-image: url(assets/Hector.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: -15% 0% -7% 103%; }

div.penelope:hover {
  transform: translateX(-67%);
  cursor: pointer; }

.hector {
  background-image: url(assets/thunder-pegasus.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: 38%;
  margin-top: 14%; }

div.hector:hover {
  transform: translateY(-65%);
  cursor: pointer; }

input {
  margin-left: 4%;
  margin-top: 5%;
  border: 3px solid black; }
button {
  border: 3px solid black;
  cursor: pointer; }
.trashTalk {
  width: 90%;
  margin: 0 auto; }
  .trashTalk h3 {
    font-size: 2em;
    text-align: center; }
  .trashTalk input {
    display: block;
    margin: 0 auto;
    width: 90%; }
  .trashTalk button {
    display: block;
    margin: 5px auto;
    width: 200px;
    text-align: center; }
