* {
  font-family: 'Rock Salt', cursive; }

.title {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

#newGame {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  border: none;
  border: 3px solid black;
  outline: none;
  background: transparent; }

.game-window {
  width: 70%;
  margin: 20px auto;
  height: 500px;
  background: lightslategray;
  border: 10px solid black;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.titleInWindow {
  width: 50%;
  margin: 0 auto;
  margin-top: 600px;
  text-align: center;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out; }
  .titleInWindow img {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid black; }
  .titleInWindow h5 {
    margin: 0 auto;
    cursor: pointer; }
    .titleInWindow h5:hover {
      font-size: 1.2em; }

.charPage {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.toLancePage {
  display: inline-block;
  display: none;
  width: 100px;
  margin: 0 auto;
  color: blue; }

.mrEd {
  background-image: url(assets/MrEd.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: -6em; }

div.mrEd:hover {
  transform: translateX(50%); }

.penelope {
  background-image: url(assets/Hector.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: -10em 0px -1em 58em; }

div.penelope:hover {
  transform: translateX(-67%); }

.hector {
  background-image: url(assets/thunder-pegasus.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-left: 24em;
  margin-top: 3em; }

div.hector:hover {
  transform: translateY(-65%); }

input {
  margin-left: 21em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 4px solid black; }

button {
  border: 4px solid black; }
